[2021-12-14 05:44] aronneewart opened #2 "BLOCK counter is only updated after RLLBCK"
![Oura2](https://user-images.githubusercontent.com/82487580/145939352-a68661da-c89c-4646-b075-ed5f8c6c1ea1.png)

**Environment**: Arch Linux 5.15.7-arch1-1 x86_64 GNU/Linux

PS: I love your project, awesome work!

[2021-12-15 01:53] scarmuega commented on #2
@aronneewart thanks for reporting the bug. The problem was the result of bad logic in how we track the local state of the cursor (current point) when running the chain-sync mini-protocol. It has been fixed in `v0.3.3`.

[2021-12-15 01:53] #2 closed

[2021-12-15 08:21] aronneewart opened #3 ""--bearer unix" not working on Linux"
Running both **Daedalus** and `cardano-node` (standalone) showed the very same results:

| --magic \ --bearer | unix  | tcp |
| :---: | :---: | :---: |
| mainnet | :x:  |  :heavy_check_mark:  |
| 764824073 | :x:   | :heavy_check_mark:  |

Running with `--bearer unix` threw the same error in all scenarios
[code]
and
[code]
on `cardano-node` in parallel. Also, to ensure the existence and functionali

[2021-12-15 12:44] scarmuega commented on #3
@aronneewart thanks for all the detailed info. Seems like the Ouroboros handshake is failing. Oura asks for V10 of the Node-2-Client mini-protocols (a requirement which might be too strict I'm afraid).

Can you share the cardano-node / Daedalus version you're using?

[2021-12-15 15:44] aronneewart commented on #3
How could I forgot that info!
[code]
[code]

[2021-12-15 22:17] scarmuega commented on #3
@aronneewart I was able to reproduce with version 1.30 of cardano-node.

The node-to-client logic on Oura uses a local-state query to fetch the current tip of the node. AFAIK, this query was introduced in `NodeToClientV_10`, which I believe it ships in cardano-node 1.31.

To fix the issue, I refactored the tip-fetching logic to match the one we use in the node-to-node connection (which uses a hard

[2021-12-15 22:17] #3 closed

[2021-12-15 22:44] aronneewart commented on #3
My God they're already at 1.32.1! Time truly flies quicker under the pandemic. Thanks so much for reviewing the issues!

[2021-12-25 21:05] matiwinnetou opened #11 "Lack of subkey and value for 1000-1005 metadata keys"
These metadata transactions do have value on chain. I think these are WMT tokens transactions or something but with metadata on chain.

![image](https://user-images.githubusercontent.com/335933/147393612-0d915759-a0ad-4f32-8fa3-7a8dfedbd0df.png)

[2021-12-25 23:29] scarmuega commented on #11
@matiwinnetou thanks for reporting. I was able to reproduce. I'm looking into it.

[2021-12-26 11:55] #11 closed

[2021-12-28 22:19] miracatici opened #15 "How to configure Oura to filter specific event and publish them Kafka"
Hello, I would like to use Oura to watch chain for the only specific events. I think that I build-up key elements. I mean, I set up a kafka broker with zookeper and oura process. My deamon.toml configuration is added below. I wrote a Python consumer for kafka topic. My kafka message is also added below. I ask two question:

1. How to configure oura to publish the only specific events (i.e only min

[2021-12-29 23:56] scarmuega commented on #15
hi @miracatici, thanks for reporting. This is being addressed in #18. Hopefully, a few hours away of being merged. I'll post instructions on how to apply your required filtered once it's done.

[2021-12-30 07:15] miracatici commented on #15
Hi, @scarmuega great work! How about the second question? Is there any option to gather full details of a tx? Especially tokens and assets in tx.

[2021-12-31 11:41] scarmuega commented on #15
@miracatici a new version has been released which I think addresses both of your requirements (v0.3.8).

- the new `Selection` filter allows you to filter particular events using different predicates. You can read more about filters in the corresponding docs section: https://txpipe.github.io/oura/filters/selection.html
- there's a new option in the N2N source config that will instruct _Oura_ to in

[2022-01-06 23:07] gitmachtl opened #34 "Addresses appear with wrong bech32 prefix in testnet"
The decoded bech32 addresses appear with the "addr" prefix, even when using `magic = "testnet"`

Would be nice to set an own prefix as a config parameter, or to change it automatically to `addr_test` when providing the keyword `testnet` for the magic parameter.

[2022-01-06 23:36] gitmachtl opened #35 "FR: sink 'json' output to stdout"
Feature Request 😄

Would be nice to either be able to set a parameter in the Terminal Source options to not get colored, line breaked (with that i mean the "..." cut) outputs so it can be used like a "real" tail output. Or an option to get a JSON output to stdout as a new sink
type.

[2022-01-06 23:54] mark-stopka commented on #35
I wanted to implement it into a flat file, but `stdout` will do I guess; always can just redirect, or maybe just add `--output` option.

[2022-01-07 00:12] scarmuega commented on #35
Agreed. I think that conceptually, the sink for all of the above use-cases should be a single one named `stdout` (currently `terminal`) with different options for data formatting / output.

[2022-01-07 20:24] gitmachtl opened #37 "Bug: Output stops (Testnet, Block 3218408)"
Hi, please try the following command:

[code]

the output stops at block 3218408, tx 04 ?

also hangs afterwards a few blocks later.

[2022-01-08 00:02] gitmachtl commented on #37
hmm... i retried it and it scrolled thru. strange.

[2022-01-08 00:27] scarmuega commented on #37
@gitmachtl did you update to the latest version by any chance?

We just fixed a bug that crashed the process when encountering a block with protocol update parameters inside. Sounds similar to the symptom you describe.

[2022-01-08 10:36] gitmachtl commented on #37
on 0.3.8 right now, will try with 0.3.9

[2022-01-08 10:55] gitmachtl commented on #37
no difference, i tried another point in the chain:

`oura watch /home/cardano/db/node.socket --magic testnet --since '47253117,bf6407ee6e16c83e2a4f836408bd45387726bd7a0ee8d9dda58d3fdbba2a887d'`

it hangs on the TX28 of block 3219824. same on node 1.33.0 and node 1.31.x

can you try it yourself?

[2022-01-08 10:59] gitmachtl commented on #37
thats the last transaction https://testnet.cardanoscan.io/transaction/b4494dbcb69cccdee43a81417024c06b266cc95fdf15f2bc5b9796ba05108df0?tab=utxo

[2022-01-08 11:01] gitmachtl commented on #37
the next block (like the ones before stopping the output) shows "genesis pool" on the explorer. maybe a hint.

https://testnet.cardanoscan.io/block/3219825

[2022-01-08 11:13] scarmuega commented on #37
I had to restart my testnet node, I will attempt to reproduce your exact scenario once it finishes syncing.

In the meantime, I tried using Oura against a testnet relay and I managed to pass the troublesome block. Could you try the following command on your side?

[code]

[2022-01-08 11:17] gitmachtl commented on #37
yes, scrolled thru.

[2022-01-08 11:19] gitmachtl commented on #37
BUT, there is no block 3219824!?

[2022-01-08 11:21] scarmuega commented on #37
Very weird, but that narrows down the issue. I'll run a debug session to check the decoding of that block.

[2022-01-08 11:27] gitmachtl commented on #37
ok, i think it has to do with the unix bearer. when i try the following on my local node:

`./oura watch 127.0.0.1:4001   --magic testnet   --bearer tcp   --since 47253117,bf6407ee6e16c83e2a4f836408bd45387726bd7a0ee8d9dda58d3fdbba2a887d`

it scrolls thru but jumps from block 3219824 to 3219826.

when i try the same using the node.socket like:

`./oura watch /home/cardano/db/node.socket  --magic te

[2022-01-08 11:30] scarmuega commented on #37
I've managed to confirm that there a crash when trying to decode that particular block. I'll look into fixing that first.

[2022-01-08 12:02] scarmuega commented on #37
for posterity, seems that block `3219825` includes a Plutus script encoded as a cbor array rather than the usual cbor `bytes` structure. Can't find a reference in the CDDL of that being allowed.

[2022-01-08 12:05] gitmachtl commented on #37
oh thats interesting

[2022-01-08 13:14] #37 closed

[2022-01-08 13:30] scarmuega opened #40 "Disparity between N2N and N2C for handling errors"
For example, when dealing with a block decoding issue, N2N will log the error (if enabled) and continue; while N2C will stop the state-machine and finally panic. Ideally, we stick to N2N way of handling errors.

Brought up in #37

cc @gitmachtl

[2022-01-08 14:32] scarmuega commented on #37
@gitmachtl this should be fixed on the recently released version 0.3.10. Feel free to re-open the issue if you encounter any trouble.

[2022-01-08 14:51] memewhale opened #43 "Feature Request: HTTP/REST sink or other connection to Node.js app"
Would it be possible to provide a sink that makes a request to a (local) HTTP server?

My use case is that I have a Node.js project that acts upon events on the Cardano blockchain. I'm currently using PostgreSQL notifications but would like to simplify the setup with Oura. HTTP would be a simple option, but if you can recommend other ways to receive Oura events in JS, I'm also interested.

I'm als

[2022-01-08 15:12] mark-stopka commented on #43
It is already in the feature backlog (in a README file)...

[2022-01-08 15:28] gitmachtl commented on #37
yes, just tested it. it works!

[2022-01-09 14:28] gitmachtl opened #45 "Feature Request: Adding a BLOCK END line in the output for 'Terminal' sink"
Would be nice to have some kind of a BLOCK END statement as the last output when tailing block data. A bit hard for the tools after the oura tail output (at least using the terminal sink) to react to the end of a block without the need to wait for the next one.

[2022-01-11 18:55] gitmachtl opened #50 "Bug: Timestamp is 19 seconds off"
Testnet Example:
The output for block `3226895` is reported with the timestamp `1641849006`.
If i convert this back into an actual date like `date --date="@1641849006"` i get the date `Mon, 10 Jan 2022 22:10:06`.
DB-Sync/Explorers report `Mon, 10 Jan 2022 22:10:25`

So there is a 19 seconds offset. And its for all the reported blocks. So either i am converting it wrong, or there is a Bug?

[2022-01-11 20:17] mark-stopka commented on #50
Probably mistake in well known info...

https://github.com/txpipe/oura/blob/d9dc5421f2237464531a7c1759cb86db0afdd5c0/src/framework.rs#L33

[2022-01-12 11:30] gitmachtl commented on #50
Its also off 19 seconds on mainnet.

[2022-01-12 12:56] scarmuega commented on #50
Event timestamps are inferred from the slot number of the block, but there seems to be some ambiguity on how to translate the interval length between blocks (~20 secs ATM). I found this comment by @KtorZ very insightful:

https://github.com/CardanoSolutions/ogmios/issues/3#issuecomment-619786434

TBH, I'm not happy with the current approach in Oura. I'll do some reverse engineering on db-sync to u

[2022-01-12 15:31] gitmachtl opened #52 "Feature Request: Please add the slot number to the BlockStart Message"
Please include the slotNumber in the BlockStart Message like its included in the RollBack message:

Its included here:
[code]

but not in the following "normal" BlockStart Messages:
[code]

Would be nice to have it like:
[code]

[2022-01-12 20:40] #43 closed

[2022-01-12 20:47] scarmuega commented on #43
@memewhale we have merged the code that introduces the new "webhook" sink. It will be shipped in the next release (later this week), but you can try it out if you build from source code.

You should be able to use it to call your Node.js service. We're still working on the documentation, but a minimal configuration of the sink would look like this:

[code]

[2022-01-13 20:36] AndrewWestberg commented on #52
Can we prioritize this one? It's useful for tools monitoring Sundae scoopers.

[2022-01-13 21:16] scarmuega commented on #52
@AndrewWestberg will go out today with v1

[2022-01-13 21:44] #52 closed

[2022-01-13 22:37] #45 closed

[2022-01-14 09:59] scarmuega commented on #52
v1 release includes the changes for this issue. This is an example of the output of a block start event:
[code]

[2022-01-14 10:08] scarmuega commented on #45
This change has been included in v1. This is an example of a "block end" event in the terminal sink output:

[code]

It is also available in `daemon` but not enabled by default. It can be turned on by using the following config values:

[code]

[2022-01-14 12:32] miracatici opened #65 "Example for Selection filter with predicate array"
Hello,

I would like to filter events by policy id. It runs perfectly for one policy id. If I want to combine more than one `policy_equals` predicate with `any_of (predicate[])` I couldn't arrange toml file.

Could you help me, please?

[2022-01-14 12:55] #15 closed

[2022-01-14 13:05] gitmachtl commented on #45
thx! 😄

[2022-01-14 19:37] gitmachtl opened #66 "Bug? Oura always 1 block behind"
Is there an internal technical reason why oura is always 1 block behind the current one?

[2022-01-15 15:10] gitmachtl opened #67 "Urgent - Oura crashes on metadata content"
Testnet:

[code]

[code]

[2022-01-15 15:15] scarmuega commented on #67
I will look at this today.

[2022-01-15 19:21] #67 closed

[2022-01-15 20:46] scarmuega commented on #67
@gitmachtl please try v1.0.1

[2022-01-16 19:37] memewhale commented on #43
Thanks a lot, I'll check it out!

[2022-01-17 10:44] mark-stopka opened #72 "feat: Add CIP-0015 metadata parser"
Implement [CIP15](https://cips.cardano.org/cips/cip15/) metadata parser which will separate all five metadata fields as per the [relevant CDDL schema](https://github.com/cardano-foundation/CIPs/blob/master/CIP-0015/schema.cddl).

[code]

NOTE: See also https://github.com/cardano-foundation/CIPs/pull/188 and https://github.com/cardano-foundation/CIPs/pull/200 update proposals

[2022-01-18 02:02] scarmuega commented on #66
Oura's terminal sink has a throttling mechanism to facilitate the reading. Otherwise, all the events from a block would appear almost simultaneously.

On big blocks with many transactions, this artificial delay might exceed the total span between block minting, giving the sensation of a lag. I believe this is the symptom you're describing.

In PR #69, we add a new arg to the `watch` command called

[2022-01-18 02:19] scarmuega commented on #65
hi @miracatici,

yes, dealing with nested structures isn't very straightforward in Toml. This is an example of how you should setup the filter in your daemon.toml file let events presenting any of the specified policies:

[code]

Hope this helps.

[2022-01-18 08:19] miracatici commented on #65
Well, I thought it too way complex :) Thanks.

[2022-01-18 08:19] #65 closed

[2022-01-18 10:19] gitmachtl commented on #66
hey @scarmuega , no thats not what i ment. i already have compiled a version with a throttle set to 0 :smile:

what i mean is that the output for example stopps at:
[code]

but, the current and last received block on the node is actually **3247436**.

when the next block **3247437** comes into the node, the oura tool shows block **3247436** in the output ...

[2022-01-21 10:16] mark-stopka opened #78 "docs(projectNEWM): Map requirements to support projectNEWM"
Requirements for [Storj to support projectNEWM](https://projectnewm.io/).

[2022-01-21 10:18] mark-stopka opened #79 "docs(ADOSIA): Map requirements to support ADOSIA"

[2022-01-21 12:25] scarmuega commented on #35
WIP for this issue in #77

[2022-01-21 12:43] scarmuega commented on #66
@gitmachtl Oura is one block behind but you're always one step ahead 😉 . Nice to see that you're beta testing the features from source, it's really helpful.

I don't have a final answer on this issue just yet. Would you mind telling me which tool are you using to check the last received block? is it gLiveView?

[2022-01-21 12:50] gitmachtl commented on #35
But please also keep the current one if possible, i have tools built that depends on the current terminal output format.

[2022-01-21 12:55] gitmachtl commented on #66
i use several tools to track the cardano nodes. but you just need a synced node and a simple check would be via the prometheus metrics interface like:

` watch -n 1 "curl -s localhost:12798/metrics | grep cardano_node_metrics_blockNum_int"`

[2022-01-21 19:24] mark-stopka opened #81 "Request metadata spec from projectNEWM"
- [ ] [https://github.com/projectnewm]{Request metadata spec from projectNEW)

[2022-01-21 22:00] scarmuega commented on #35
yes, @gitmachtl, we'll adhere to semantic versioning. Every minor / patch release within v1 will be backward compatible.

In this particular scenario, the `terminal` sink will remain as it is. We'll add new sinks to fulfil the original request of the issue. I've added some more description to the PR to reflect that.

[2022-01-22 10:28] mark-stopka commented on #81
By @AndrewWestberg

[2022-01-22 10:28] #81 closed

[2022-01-22 12:53] scarmuega commented on #78
@mark-stopka given the answer in #81, is this issue still valid?

[2022-01-22 14:49] mark-stopka opened #103 "feat(networking): Add support for Cardano Rust Ouroboros Network as a networking layer"
Add support for [Cardano Rust Ouroboros Network](https://github.com/2nd-Layer/rust-cardano-ouroboros-network), with either the ability to choose used Crate on start-up, or during build time.

**NOTES**:
- [ ] Cardano Rust Ouroboros Network](https://github.com/2nd-Layer/rust-cardano-ouroboros-network) in licenses under LGPL
- [ ] Crate is still not fully [migrated to Tokio](https://github.com/2nd-L

[2022-01-22 14:52] mark-stopka commented on #78
Yes and no... As one of my Finnish friends used to day, I will transfer it elsewhere, I put it here accidentally...

[2022-01-23 14:23] mark-stopka opened #84 "Add support for Cardano Rust Ouroboros Network crate for Networking sub-system"
[Cardano Rust Ouroboros Network](https://github.com/2nd-Layer/rust-cardano-ouroboros-network) is an attemp to write Ouroboros Networking protocols using Tokio Rust ecosystem, it would be nice to have a diversity of netwokring subsystems.

[Cardano Rust Ouroboros Network](https://github.com/2nd-Layer/rust-cardano-ouroboros-network) is licenses under LGPL-3.0 License, but as it is a subsystem only,

[2022-01-23 14:51] mark-stopka opened #85 "FR(compliance): Implement GH action that validates Issues and PRs so that they comply with conventional commits"
TBD

[2022-01-24 01:03] scarmuega opened #86 "feat: Implement stateful cursor"
### Problem Statement

When running in daemon mode, a restart of the process will make Oura start crawling from the initially configured point. Sinks should implement idempotency when processing an event, but depending on the use-case, restarting might generate undesirable lags and waste of resources.

### Feature Scope

A "cursor" framework will be implemented such that it is agnostic of any conc

[2022-01-24 10:05] scarmuega opened #87 "Implement open-telemetry monitoring"
### Problem Statement

On long-running daemon sessions, it's important to understand the health and progress of the pipeline. The only way to do that currently is by inspecting the stderr log outputs from the process. This is a very inefficient manual task.

### Feature Scope

We will add open-telemetry instrumentation, providing the following metrics:

- stage throughput (events / sec)
- channel

[2022-01-24 16:21] mark-stopka opened #92 "Implement Blockfrost source"

[2022-01-24 18:02] mark-stopka opened #93 "feat: Add -since-timestamp <unix timestamp>"
**Problem Statement**

Start scaning option using `oura watch --since-timestamp <unix timestamp>` as opposed to ` --since <slot>,<hash> `

Currently we have following option

It would be great if we had an option to specify `oura watch --since-timestamp <unix timestamp>`, this feature for the MVP will require [Implement Blockfrost source](https://github.com/txpipe/oura/issues/92).

To get the requ

[2022-01-24 19:11] mark-stopka opened #94 "Implement suport for several off-chain data sources"
Blockfrost support is already in the roadmap, but [there are several alternatives to Blockfrost](https://github.com/txpipe/oura/issues/92), additional ones should be added...

- [ ] Implement required abstraction level to enable multiple data providers
- [ ] Implement support for Blockfrost https://github.com/txpipe/oura/issues/92
- [ ] Implement support for Koios

[2022-01-24 20:16] mark-stopka opened #95 "feat: Handle forks and rollbacks"

[2022-01-24 21:45] mark-stopka opened #97 "feat: Watch mode should support "till" option"
Watch mode should support **till** option, by specifying `--till <slot>` or `--till <unix timestamp>`, Oura would terminate when running in a **watch** mode.

[2022-01-24 23:13] mark-stopka commented on #95
@NicolasDP once [Multiverse – dApp Rollback Handler](https://adapulse.io/multiverse-dapp-rollback-handler/), it should help us with handling few blocks long divergent forks on the ingress, and we will have to only push some "oops that has been an error" messages to our consumers letting them handle it themselves, in their application logic, correct?

[2022-01-25 11:02] mark-stopka commented on #72
Please beware that was https://github.com/cardano-foundation/CIPs/pull/188 replaced by https://github.com/cardano-foundation/CIPs/pull/200

[2022-01-25 17:58] gitmachtl commented on #34
would it be possible to fix this issue in the near future? because otherwise always a manual edit of the source code and recompiling is needed. thx! 😄

[2022-01-25 18:03] mark-stopka commented on #34
How about you attach the unified diff you are using to apply those changes to make my job easier? 😉

[2022-01-25 19:27] mark-stopka opened #100 "feat(ci): Add GitHub Action to validate dependabot config"
- Add GitHub Action to validate [dependabot.yml](https://github.com/txpipe/oura/blob/main/.github/dependabot.yml)

[2022-01-25 19:30] mark-stopka commented on #100
Following GitHub action has an issue https://github.com/marocchino/validate-dependabot/issues/233

[2022-01-25 22:54] scarmuega commented on #86
@gitmachtl it will be an opt-in feature for the `daemon` mode. You will have to enable it via config. It is meant for sinks such as Elasticsearch and Rotating Logs. The `watch` and `dump` command will keep working as they currently do.

[2022-01-25 23:59] #50 closed

[2022-01-26 22:28] #34 closed

[2022-01-26 22:38] mark-stopka commented on #103
Superseded by https://github.com/txpipe/oura/issues/84

[2022-01-26 22:38] #103 closed

[2022-01-27 17:34] mark-stopka commented on #100
Issue is related to upstream https://github.com/dependabot/dependabot-core/issues/4605

[2022-01-27 20:12] mark-stopka opened #106 "feat: Implement ability to fetch transactions from mempool"
Fetching transactions from mempool would be a great feature to have, these transactions should have a separate processing pipeline, as mempool is not a globally shared unlike the chain, it would be great if for mempool connections, several peers to get mempool transactions from would be possible...

[2022-01-27 21:05] rvcas opened #107 "Make `mod frameworks` public"
It would be useful for people using Oura as a library to be able to match on `EventData` so that they can implement custom filters and sinks.

After speaking with @scarmuega, they mentioned that along with making this module public we should also rename it to model.

[2022-01-27 21:21] scarmuega commented on #107
I agree. Making it public makes sense: it is required for any non-trivial stage and we already need to provide strong compatibility guarantees since output data is based on these structures.

The name `model`, as generic as it sounds, still seems better suited than `framework`.

[2022-01-27 21:59] mark-stopka opened #110 "feat(ci): Implement integration testing"
Implement integration testing using GitHub Actions, this will require following to be completed first:

- [x] https://github.com/txpipe/oura/issues/93
- [x] https://github.com/txpipe/oura/issues/97

[2022-01-27 23:06] mark-stopka opened #111 "feat(build): Add Oura build into Open Build Service"
Integrate Oura into [Open Build Service using GitHub Automation](https://linuxkamarada.com/en/2019/03/19/integrating-the-open-build-service-with-github/).

[2022-01-28 06:39] #107 closed

[2022-01-28 09:54] pyromaniac3010 opened #113 "bug: Overflow(8000000000, "u64->u32" logs in oura-1.0.2"
I deployed oura yesterday to kubernetes with an opensearch backend and the following config:
[code]
everything looks pretty nice but I see a lot of these strange log messages:
[code]
is the line "Overflow(8000000000, "u64->u32"" and the next line expected normal behavior? Or is there a wrong config by me or a bug in oura?

[2022-01-28 11:08] scarmuega commented on #113
the overflow seems like a bug in Oura. We'll take a look.

[2022-01-29 12:49] scarmuega commented on #35
@gitmachtl this should be solved by #77. There's a new `stdout` sink that outputs raw json through stdout. The new `dump` command is shortcut similar to `watch` that default to the new stdout sink. It can be used for piping into a file or shell command. This will be shipped in 1.1, but you can already run it from master.

[2022-01-29 12:49] #35 closed

[2022-01-30 15:25] rinor commented on #113
hmmm, this probably comes from pallas-alonzo side, `cbor 1b` value being assigned to an `u32`. Will check a block that errors to see what's happening there.

[2022-01-30 15:48] rinor commented on #113
ok, picked the first _dump_ (block) oura showed on console that overflowed, https://explorer.cardano-testnet.iohkdev.io/en/block?id=57f1da3d887c70cbef20677ba8b7b29bd5b29b2c3784dcfc8dc41dc836a5046d

[code]
From the data ([cbor.me](https://cbor.me/)), there is some data matching the reported overflowed value (8000000000)  **1b** (no idea why) :

[code]
From what I can tell, that's some redeemer stuf

[2022-01-30 23:33] #113 closed

[2022-01-31 12:01] gitmachtl commented on #93
Can't koios not be used instead of blockfrost? https://api.koios.rest/

[2022-02-01 10:23] NicolasDP opened #119 "add missing previous block hash in the BlockRecord event"
To make the block data more useful we will need to add the missing `previous_block_hash` (or parent block hash):

https://github.com/txpipe/oura/blob/7a5b07ffa8f092309f6a514db6bf2fe462115fe0/src/model.rs#L160-L167

[2022-02-01 10:25] mark-stopka commented on #119
@pavlix could you have a look?

[2022-02-01 14:27] #119 closed

[2022-02-02 10:31] scarmuega commented on #93
can you provide more context regarding the use-case for the feature?

implementing this is not trivial. Using blockfrost or koios is a valid option, but introduces an external dependency on the watch command which is meant to be used as lightweight view of the node output. Introducing an external service means we need to start thinking about api keys,  api quotas, retry logic, etc, all of this bef

[2022-02-02 10:38] gitmachtl commented on #93
I think the current timestamp is ok, beside the 19 seconds offset :smile:

[2022-02-02 10:50] scarmuega commented on #100
the dependabot config is rarely updated, adding a whole new CI workflow for validating changes on that single file seems excessive.

Am I missing something? Do you foresee frequent changes in the dependabot config?  If we do need some kind of validation, couldn't it be ran as part of existing linting step?

[2022-02-02 10:59] scarmuega commented on #110
- can you provide a short description of the implementation details for this task?
- why is the `-since-timestamp` flag a hard requirement?
- what do you have in mind for testing each of the different sinks? would you spin up small instances of kafka / elastic / etc?
- what's the plan for testing the N2C source? would we need a fully synced cardano node?

[2022-02-02 11:04] scarmuega commented on #93
@gitmachtl 🤦  I know, but FYI, the 19-sec offset has already been fixed in `main` branch, to be released in the 1.1.

[2022-02-02 11:04] mark-stopka commented on #100
It would indeed be part of an existing linting, however the GH Action that does that is currently broken, so I am just waiting for upstream to fix it, should not take long, the dev said "few weeks". So it would be just one more step after `.editorconfig` validation.

[2022-02-02 11:08] scarmuega commented on #78
closing the issue since no actionable task are involved, but it still remains accesible if you need it for moving elsewhere.

[2022-02-02 11:08] #78 closed

[2022-02-02 15:29] #86 closed

[2022-02-02 15:38] mark-stopka commented on #110
I would write a shell script that would sync with IOG testnet and mainnet nodes, I would like to "randomly" connect to the respective networks and I can get all the info I need using few lines of python or a bash script if you don't want to introduce that dependency.

I have not thought about testing the UNIX (N2C), and I think it would take too long to sync, however maybe a separate branch to hol

[2022-02-02 19:40] rvcas opened #122 "feat(model): TransactionRecord include tx_hash"
* it is more ergonomic to also include the tx_hash in the TransactionRecord

[2022-02-02 20:50] #122 closed

[2022-02-04 11:00] mark-stopka commented on #72
@pavlix I have moved the changes relevant to this ticket to https://github.com/txpipe/oura/pull/124, if you could prioritize developing this over the https://github.com/txpipe/oura/issues/84 please.

[2022-02-06 21:46] CyberCyclone opened #131 "General Usage / Potential Questions"
Hi,

Firstly, would it be possible to enable GitHub Discussions? It would be good to have discussions without spamming the issues page.

My question is, what is the main difference between this an cardano-ogmios? For what I can see, Oura has a lot more features but is fundamentally the same. As in, if I wanted a replacement for db-sync then both of these are good options. I've asked about Ogmios a

[2022-02-06 22:48] scarmuega commented on #131
hi @CyberCyclone thanks for the suggestion, I have enabled Github Discussion.

Ogmios and Oura are similar in the sense that they both serve as an interface to a Cardano node without having to deal with the Ouroboros protocol directly, but they serve very different use-cases IMO.

- Ogmios is much more flexible, you can interact with any of the mini-protocols provided by the node (AFAIK) at a very

[2022-02-06 23:47] CyberCyclone commented on #131
Awesome, thanks for that @scarmuega. Oura looks more like what I'm after then.

[2022-02-06 23:47] #131 closed

[2022-02-07 00:57] mark-stopka opened #132 "docs(backlog): Document source mapper include_block_cbor argument"
Documentation was not updated with the https://github.com/txpipe/oura/pull/127

PR https://github.com/txpipe/oura/pull/127 implements an optional flag that will include the raw cbor payload for each block as a extra field of the `Block` event. To enable the feature, the `include_block_cbor` flag of the mapper config needs to be enabled. The following is an example of a daemon mode config that incl

[2022-02-07 10:16] scarmuega commented on #110
I agree that we need #97 to make a graceful exit, but #97 is easy to implement. The one that I'm having trouble with is #93, since it couples the watch / dump command with an external service.

[2022-02-07 14:38] JohanCardano opened #136 "Support local private testnet for the watch"
According to the documentation it seems like the plan is to support numeric magic numbers, but the source-code seems hardcoded to "only" support mainnet or testnet?
https://txpipe.github.io/oura/usage/watch.html#options

snippet from common.rs
[code]

I'm trying to set up a local private testnet for development.
`$ oura watch $NODE_SOCKET_PATH --magic 42 --bearer unix`
` ERROR: "can't infer well-k

[2022-02-07 14:55] scarmuega commented on #136
hi @JohanCardano, yes, that use case is a little bit tricky.

Oura needs some extra info about the chain in order to start reading the data. The info for the well-known chains (mainnet, testnet) is already hardcoded inside Oura, but when consuming from a custom network, the user needs to provide it.

This is not very well documented, hopefully we can use this example to improve Oura's doc. This is

[2022-02-07 15:02] gitmachtl commented on #136
This is interesting, so with the shelley_known_slot/hash/time you can specify the exact settings and oura can calculate the right slottime for the other slots then?

[2022-02-07 15:13] JohanCardano commented on #136
Worked fine... just needed to set the magic parameter as a string
`magic = "42"`

[2022-02-07 15:17] JohanCardano commented on #136
Worked fine... now I just need to learn how to post transactions via the
Cardano-CLI against the local network. :)

I'm doing the Plutus Pioneer program Cohort #3.
/Johan

Den mån 7 feb. 2022 kl 15:56 skrev Santiago Carmuega <
***@***.***>:

[2022-02-07 21:37] #132 closed

[2022-02-07 23:03] #136 closed

[2022-02-13 13:20] gitmachtl commented on #66
would it be possible to introduce a mechanism to tell oura to always run xxx blocks or slots behind? because its currently not possible to tail in realtime and than the block that was just displayed landed on a fork that was removed later on. so running 3 or 4 blocks behind the tip could solve that for the most of the blocks i guess.

[2022-02-14 12:54] gitmachtl commented on #113
Seeing this too, so i guess my Oura Version is just too old:

[2022-02-14 13:34] gitmachtl opened #143 "feat: Include TX body size in TX-Header"
Currently the TX-Headline for each Transaction in a Block looks like this (Terminal):
`total_output: 573299381, fee: 1202055, hash: 3ace1cb9c563d29203efe7018159d238e76c10dfb58297836f5e544095a4d757, ttl: ...`

Would it be possible to also include the TX-Size in bytes in here, similar to the body size in the BLOCK Header?

[2022-02-14 13:44] ivokosir opened #144 "Can oura be used to create database indexer?"
Is it possible to create db indexer which would track transactions, current UTXOs on every address, etc.?

Readme states:

Does this mean I can't have information on UTXOs from Bryon era? I'm fine with not having info from txs from that era, but would I be able to create all UTXOs on an address without that information?

[2022-02-14 13:49] rvcas commented on #144
Yes you would be able to create a db indexer. Byron support is being worked on.

[2022-02-14 15:09] scarmuega commented on #144
correct, once Byron support is released (planned for v1.2), you could use Oura to reconstruct the full ledger state by aggregating all past events in the chain.

To get notified about new releases, use the "Watch" command in Github or follow the project updates via twitter at https://twitter.com/Oura_project

[2022-02-14 15:09] #144 closed

[2022-02-14 15:17] scarmuega commented on #143
@gitmachtl yes, it's feasible, but it would require re-enconding the tx into cbor to compute the size.

Since the encoding operation has some overhead, we should hide the feature behind a configuration flag so that users can opt-in only if they care for that value.

[2022-02-14 15:45] gitmachtl commented on #143
Hmm... is it not possible to get the size directly when you decode the whole block cbor? It would be a super cool value to have for single transactions.

[2022-02-14 17:55] rvcas opened #145 "Add `era` to `BlockRecord`"
it would be convenient to include this information in the BlockRecord from the crawler so that people won't have to probe using pallas.

[code]

[2022-02-14 22:20] scarmuega commented on #143
@gitmachtl the problem is that Tx data is not consecutive within the block. For example, auxiliary data (metadata and such) lives in a map structure separate from the inputs / outputs. The only way I can think of for computing the size for the complete Tx is be reconstructing a structure similar to the one used for the original submission of the Tx.

Maybe I'm missing something. @SebastienGllmt @r

[2022-02-15 05:22] SebastienGllmt commented on #143
Yes, what you said sounds right to me

[2022-02-17 12:35] scarmuega commented on #145
@rvcas I've expanded the probing mechanism that we have in Pallas so that we can discriminate each era (as opposed to just detecting pre- and post-shelley).

https://github.com/txpipe/pallas/pull/51

[2022-02-17 16:36] #95 closed

[2022-02-17 22:32] scarmuega commented on #93
As stated above, implementation of this is not trivial and requires adding external dependencies. In my opinion, cost outweighs benefits. Closing this issue for the time being, we can revisit in the future if we find that it's blocking a concrete use-case.

[2022-02-17 22:32] #93 closed

[2022-02-20 11:07] #145 closed

[2022-03-02 17:36] jmhrpr opened #183 "Question: How to output new block CBOR to terminal?"
I want to output the CBOR of new blocks to the terminal.

When I try using the following config file:
[code]

I get the following output:
[code]

Any idea what I am doing wrong? Thanks!

[2022-03-02 17:42] jmhrpr commented on #183
Oop. `ghcr.io/txpipe/oura:latest` was giving me v1.0.2 not v1.2.0 (maybe the version when I first tried Oura). Looks to be working now with sink type `Stdout`.

[2022-03-02 17:42] #183 closed

[2022-03-02 20:45] ravishankarvkp opened #184 "Example for "all_of (predicate[])" usage"
thanks for this great tool ! I've played around with it a little bit and it looks awesome. I no longer have to run expensive cardano-db-sync to query the status of particular asset :)

For my use-case, I need to filter "transactions" that carry a specific asset "ex: LQ tokens" and need to construct a real-time view of the token distribution in the ledger. I realize, I need to make use of the below

[2022-03-02 21:01] scarmuega commented on #184
@ravishankarvkp yes, agreed, toml format is hard for these nested structures. I'll add an example to docs shortly.

[2022-03-02 21:33] #184 closed

[2022-03-02 21:42] scarmuega commented on #184
@ravishankarvkp we've added some more examples here:
https://txpipe.github.io/oura/filters/selection.html#examples

Let us know if they make sense.

[2022-03-02 23:18] ravishankarvkp commented on #184
Thanks @scarmuega ! this helps !

[2022-03-10 01:22] CyberCyclone opened #192 "feat: Stake Rewards"
Is there a roadmap on when rewards will be included? I'm guessing that https://github.com/txpipe/oura/issues/94 will be a way to retrieve rewards, but in the case of Blockfrost I imagine it will be an expensive way to do it.

[2022-03-11 00:58] CyberCyclone opened #193 "bug: Block 1 Missing?"
I've taken the first block from [https://adatools.io/blocks/1](https://adatools.io/blocks/1)  and added the slot / hash into the .toml file as below:

[code]

When starting, the rollback event is fired, whoever no event for block 1 appears. It jumps straight to block 2.

Logs:
[code]

Shouldn't the block that was rollbacked back to be replayed, especially in this instance of the first block?

[2022-03-11 01:17] scarmuega commented on #193
hi @CyberCyclone, thanks for reporting the issue. We recommend using the `intersect` configuration instead of the `since` value (which is now deprecated).

You can find more info about the `intersect` in the docs:
https://txpipe.github.io/oura/advanced/intersect_options.html

One of the nice things about this new feature is that you can specify not only a particular point, but also `Origin`:

[cod

[2022-03-11 01:24] CyberCyclone commented on #193
Perfect. Thanks!

[2022-03-11 01:24] #193 closed

[2022-03-11 04:42] CyberCyclone opened #194 "feat: epoch included in each block"
It would be good to include epoch data with each block. E.g:

Add `epoch` and `slot_in_epoch` fields to the `block` event.
[code]

[2022-03-11 09:10] scarmuega commented on #192
Thanks for the request @CyberCyclone. Ideally, the bulk of the events comes from the block data and we use external sources to enrich specific values. As you well said, querying a remote endpoint is "expensive".

I'll do some digging to see what reward data we can extract directly from the blocks or by querying the node.

[2022-03-11 09:12] scarmuega commented on #194
I agree. We'll include it in the next release.

[2022-03-13 16:30] bakon11 opened #196 "Error When running Oura Daemon"
Just want to report the following error I'm running into running Oura as daemon, not sure if it's my mistake or not, but when I adjust my `since` to a later slot and remove my cursor file it works fine. Found a few slots that throw that error. They are posted under cursor.

Thanks guys, amazing project.

config:
[code]

cursor:
[code]

error:
[code]

[2022-03-13 17:50] scarmuega commented on #196
hi @bakon11 thanks for reporting!

yes, I've reached the same issue a few days ago. It seems to be an edge case related to CBOR decoding of very large negative integers. I've filled up an issue in the upstream minicbor library: https://gitlab.com/twittner/minicbor/-/issues/20

The author of the library already fixed it and we're working on updating the dependency in Oura. I'll keep you updated of

[2022-03-13 17:52] bakon11 commented on #196
Fantastic,

Just wanted to make sure, we can close this issue in that case I'll keep on eye on the new release.

Thank you.

[2022-03-13 17:52] #196 closed

[2022-03-15 14:55] bakon11 opened #201 "Monitor Cardano Node socket/startup"
Sometimes Cardano Node crashes because well it crashes or restarts for whatever reason. When that happens the Cardano Node socket is not accessible and Oura errors out and exits.

Maybe some type of node start up monitoring or socket file monitoring for Oura to continue once the node restarts and recreates socket.

[2022-03-15 16:03] bakon11 commented on #79
* [ ]  [feat: Monitor Cardano Node socket/startup #201](https://github.com/txpipe/oura/issues/201)

[2022-03-15 17:10] scarmuega commented on #201
Yes, I've suffered from those restarts too. I was thinking of a "connection retry policy" at the source level with some exponential backoff mechanism. Would that make sense?

[2022-03-16 10:58] CyberCyclone opened #202 "feat: cli cursor options"
Please add command line options to override file based cursor.

My use case is that I'm using a node.js "express" script to parse the Oura http requests. The node.js script will start the Oura daemon when it's ready and pass the last known block from the database. Storing the cursor to the filesystem will be meaningless since it will be in a Docker container that shifts servers.

Current:
[code]

[2022-03-16 11:23] CyberCyclone opened #203 "feat: Combine all events"
It would be good to have the option to keep all the individual events in the single Block event. I'm passing all the data into a no-sql database and it has a higher performance keeping it all in a single document. Currently Oura is splitting the Block up into individual "events" which I'm then bundling back together again.

Having the option for Oura to keep it as a single Block event with all the

[2022-03-16 12:10] scarmuega commented on #202
Makes sense to me. We'll try to ship it in 1.3.

[2022-03-16 12:19] scarmuega commented on #203
I thought about this too. You can already do that at the Tx level. When the `include_transaction_details` mapper flag is enabled, each Tx event will contain a nested version of the data (inputs, outputs, metadata, mints, etc).

If I understand correctly, what you need is the same thing but at the "block" level.

It's doable, we can add an extra mapper flag to make it optional, but beware that it c

[2022-03-16 16:32] bakon11 commented on #201
Yep I think a retry policy would be more then perfect. Maybe have it configurable in the config for daemon's on how many times to retry and how often.

[2022-03-16 18:03] CyberCyclone commented on #203
I would appreciate it if you could please add the flag so it operates at the block level.

I'm using RavenDB which can only include other documents as long as I know the document IDs. So for me to do a lookup of a block and then include all the transactions, I would need to store all the transaction IDs in the Block document. By this point I might as well store all the data in the Block document.

[2022-03-17 02:49] rvcas commented on #203
@scarmuega maybe this could be a separate source with it's own mapper and a new `FullBlockRecord` to map to in `model`. This way we don't need to force the current mapper and `BlockRecord` to accommodate this kind of payload. This was just a quick thought but if the idea is interesting I'm happy to discuss further.

[2022-03-17 02:53] rvcas opened #206 "idea: node and/or Deno integration"
I know for node we can maybe use something like: https://github.com/napi-rs/napi-rs

I thought of this idea while reading #202.

This kind of thing could allow for some interesting things to be built by javascript/node devs who aren't keen on importing oura as a library due to a lack of familiarity with rust.

[2022-03-19 15:51] #202 closed

[2022-03-20 20:04] #201 closed

[2022-03-20 20:58] scarmuega commented on #196
@bakon11 FYI, release v1.2.2 should fix this issue.

[2022-03-23 16:56] scarmuega commented on #97
closing in favor of #216 which adds several configurable options for gracefully finalizing a pipeline.

[2022-03-23 16:56] #97 closed

[2022-03-24 01:29] scarmuega opened #220 "Implement AWS Lambda sink"

[2022-03-25 12:33] scarmuega commented on #220
implemented in #208

[2022-03-25 12:33] #220 closed

[2022-03-25 12:53] #194 closed

[2022-03-25 12:54] scarmuega commented on #194
This feature will go out in v1.3. New values are: `epoch` and `epoch_slot`, present in each Block event

[2022-03-31 22:38] CyberCyclone commented on #203
Hey, just wondering if there's a rough timeline on this? I can't use this project until it's implemented. No pressure but I'm keen to get this working with my project.

[2022-04-01 00:34] scarmuega commented on #203
hi @CyberCyclone I'll work on this tomorrow. I'm going to sync with @rvcas to discuss implementation details. Shouldn't take long until we merge into master. Would you be comfortable building from source while we finish other features for v1.4?

[2022-04-01 01:46] CyberCyclone commented on #203
Awesome, thanks for that. Much appreciated. I'm more then happy to build and run until an official release is ready.

[2022-04-01 23:56] scarmuega commented on #203
@CyberCyclone we've merged PR #231 which provides a way to include Tx details inside the block record. To enable the feature, you need to add a flag to the mapper section, it goes like this:

[code]

By enabling the above, you should start seeing a new array named `transactions` inside the `block` section of the event.

Doing this will make all of the other events rather redundant, so I suggest us

[2022-04-01 23:56] #203 closed

[2022-04-03 11:41] CyberCyclone opened #233 "ERROR: unknown variant `Webhook`, expected one of `Terminal`, `Stdout`, `Assert`"
I'm running against the master branch but I'm getting ```ERROR: unknown variant `Webhook`, expected one of `Terminal`, `Stdout`, 'Assert'```.

Here's my config:

[code]

I can't see anywhere in the documentation for any of the sink configs changing.

Thanks!

[2022-04-03 13:45] scarmuega commented on #233
hi @CyberCyclone, each sink lives under its own cargo feature flag. When we compile the release binary, we include ALL features. If you build from source, you'll have to choose which sinks to enable. For example, if you're using the `Webhook` sink, you'll need to build using:

[code]

The available features are:

- `logs`
- `webhook`
- `kafkasink`
- `elasticsink`
- `fingerprint`
- `aws`

[2022-04-03 19:39] #233 closed

[2022-04-11 15:58] Josemarialanda opened #245 "Can't connect to local node through node socket"
Whenever I try to connect Oura to a local node though the node socket I get the following error:

If I specify `testnet`, I get `couldn't agree on handshake version for client connection`.

If I specify the `magic number,` I get `can't infer well-known chain infro from specified magic`.

I've tried both relative and absolute paths. This happens in both daemon mode and watch mode.

I saw this issue

[2022-04-11 16:02] Josemarialanda commented on #245
P.S

I'm using the private testnet setup from: [cardano-private-testnet-setup](https://github.com/woofpool/cardano-private-testnet-setup)

[2022-04-11 16:28] Josemarialanda commented on #245
Update: Oura works fine on public testnet. It appears problems only happen when trying to use it in private testnet

[2022-04-11 16:56] rvcas commented on #245
@Josemarialanda can you confirm the bearer kind you are using? when connecting through a socket file you need to use `Unix` bearer kind.

[2022-04-11 17:20] Josemarialanda commented on #245
Yup. I'm using Unix bearer

[2022-04-11 17:56] scarmuega commented on #245
please take a look at #136. For private networks, you'll need to add one extra config section with all the information Oura needs about the chain.

[2022-04-12 11:02] CyberCyclone commented on #206
I'm doing exactly this by using the `webhook` sink and passing it to a NodeJS "express" app. I have to use NodeJS because the DB I'm using (RavenDB) doesn't have a Rust package.

[2022-04-14 00:24] #206 closed

[2022-04-15 22:07] Josemarialanda commented on #245
Great. Thanks!

[2022-04-15 22:07] #245 closed

[2022-04-20 12:33] rcmorano opened #254 "feat(request): Enable sync intervals by adding "stop intersection points""
In order to allow sync parallelization, it would be cool to have a config to allow oura to stop at a certain intersect.
For example, to sync the complete chain, I would like to parallelize:

- a one-time, low-priority dump oura job that syncs `Origin-to-shelley` data
- a one-time, higher priority dump oura job that syncs `shelley-to-current-tip`
- a long-running oura daemon that simply starts from

[2022-04-20 13:05] rvcas commented on #254
I'm not sure this complexity belongs in oura. Perhaps using the more lower level library pallas that oura depends on is the best way to make something like that. Oura is more for reacting to events than it is for syncing the chain.

[2022-04-21 00:46] scarmuega commented on #254
@rcmorano yes, I've thought about this too. In fact, that's similar to what we're trying to implement in Scrolls with the "swarm" mode: https://github.com/txpipe/scrolls/blob/main/README.md#what-is-swarm-mode

My suggestion is to implement this by orchestrating several independent Oura instances.

There's new `[Finalize]` config section that can be used to specify until which block the pipeline sh

[2022-04-21 00:50] scarmuega commented on #110
Closing this in favor of the e2e testing framework that runs through Github Actions:

https://github.com/txpipe/oura/tree/main/.github/e2e

@mark-stopka I think this fulfills the original scope, but feel free to re-open if you see that something is still missing.

[2022-04-21 00:50] #110 closed

[2022-04-21 00:55] rvcas commented on #254
oh cool I had no idea that finalize was added

[2022-04-21 20:46] CyberCyclone opened #256 "ConnectionReset, message: "Connection reset by peer""
I'm getting the below error while running oura in daemon mode for a long time. I'm guessing it's not handling a peer disconnection.

[code]

[2022-04-21 20:58] rvcas commented on #256
idk if we should handle this in pallas or oura

[2022-04-21 21:04] CyberCyclone commented on #256
The other thing I was thinking in terms of error handling in oura, is it expected that it will eventually make it through to the sink target so it can handle it?

[2022-04-22 14:42] rcmorano commented on #254
Always a step ahead :D This is beautiful, thank you!

I think [intesect doc page](https://txpipe.github.io/oura/advanced/intersect_options.html) would be a good place to document the `source.finalize` feature. If you agree I'll be happy to send a PR your way and consider this issue solved after its merge :)))

[2022-04-22 16:10] #254 closed

[2022-04-22 16:29] scarmuega commented on #256
yes, this is tricky.

I usually run Oura as a Pod in a Kubernetes cluster. By panicking the process, the whole Pod restarts and I can control the retry / backoff policy using common k8s settings.

I understand that not every implementation will have an orchestration framework available to deal with these errors. One thing I'm certain, any retry mechanism needs to be configurable by the final user

[2022-05-01 16:23] gitmachtl opened #274 "How to turn on that "PLUTUS" line in the terminal sink?"
Simple question, how to turn on that plutus line in the terminal sink output? 😆

[2022-05-07 11:11] scarmuega commented on #274
@gitmachtl  sorry for the late reply, busy week. There's no extra configuration required to turn the PLUTUS output on, but please note that the already released version only generates `PlutusScript` events for the values that exist within the aux data of the Tx (which there aren't many).

In the current main branch (to be released as 1.4 version), we added a lot of new type of events related to th

[2022-05-07 18:31] gitmachtl commented on #274
hey @scarmuega , thx for the feedback. yes i am looking for the PlutusDatum output indeed. will try latest main branch 👍

[2022-05-07 23:30] #72 closed

[2022-05-09 18:51] SebastienGllmt opened #289 "CIP15 parser not working properly"
Probably spamming error logs is not the intended behavior of this. Possibly the parser only implements the latest version of the standard and not the previous version?

Repo: sync epoch 234 to see this message a few thousand times

![image](https://user-images.githubusercontent.com/2608559/167477362-a9836bb4-d0a6-4db8-86d4-686cbf7abaf1.png)

[2022-05-09 19:04] scarmuega commented on #289
Thanks for reporting. No, that's not the expected behavior. I'll evaluate options.

[2022-05-09 20:22] scarmuega opened #291 "docs: Improve "data dictionary" section"
The data dictionary section of the documentation should provide more detail about each event.

Ideally, we should have a title for each event with the following content:

- A short description of what it represents (one-liner)
- A short description of how it is obtained from the block data (1 or 2 paragraphs)
- A table with a row for each field of the payload (columns for name, data type and descr

[2022-05-10 01:31] scarmuega commented on #289
fixed on recently released v1.4.1.

[2022-05-10 01:31] #289 closed

[2022-05-11 08:18] Ch1n3du commented on #291
I wanted to clarify what you meant by the description of how the events are obtained from the block data. And on the third point I wanted to ask if the table should include the fields of the EventContext struct that are part of the current documentation, as the page seems to focus on the EventData enum

[2022-05-13 19:34] scarmuega commented on #274
hi @gitmachtl, just wanted to let you know this is also now available in v1.4.
Closing the issue, feel free to re-open if you have any questions.

[2022-05-13 19:34] #274 closed

[2022-05-17 17:28] scarmuega opened #301 "Document how to connect to a custom network"
Problem:
Oura provides a way to connect to custom networks (aka, neither mainnet nor testnet), but it requires manual configuration of certain specific values under the `[chain]` section. This procedure lacks the corresponding documentation.

Scope:
Add a new documentation page under the "Guides" section detailing the step by step instructions on how to connect Oura to a custom network.

[2022-05-17 20:59] scarmuega commented on #291
very nice job, great 1st issue!

[2022-05-17 20:59] #291 closed

[2022-05-18 16:56] SebastienGllmt opened #304 "Rollback to genesis uses empty block hash"
It seems that when rollback to genesis(?), I get a rollback event

[code]
where `block_slot` is 0 and `block_hash` is empty string

This doesn't look right given that the genesis block has no slot number and should have a block hash.

More concretely, I got this by setting the starting point for Oura sync to be `f0f7892b5c333cffc4b3c4344de48af4cc63f55e44936196f365a9ef2244134f` (the first block aft

[2022-05-18 18:01] SebastienGllmt opened #305 "Missing documentation on IntersectArg fallback order"
I can't seem to find anywhere in the documentation that says what the order of the points in IntersectArg::Fallback should be. Is it oldest to newest? Other way around? Does order matter?

[2022-05-18 18:06] SebastienGllmt commented on #305
From the networking spec docs, it looks like it's ordered from oldest point to newest point

[2022-05-18 18:16] scarmuega commented on #305
From Oura's perspective, the intersect points are a passthrough value used during the ChainSync message exchange, so the behavior should match the one described in the official networking docs.

We should add a brief explanation of this in the following section:
https://txpipe.github.io/oura/advanced/intersect_options.html

[2022-05-18 19:46] SebastienGllmt commented on #305
Hmm, the examples in the Oura docs is the opposite order of the example in the chain sync docs

Chain-sync docs (bottom of page 20 in latest version)
![image](https://user-images.githubusercontent.com/2608559/169143338-0bde0a81-dd94-4fb4-8f73-bb55bf4e8f31.png)

Oura docs
![image](https://user-images.githubusercontent.com/2608559/169143382-ba8d2f02-d297-442a-881e-1cb00ffc4dfd.png)

[2022-05-18 19:49] SebastienGllmt commented on #305
Sorry, I think I confused myself when trying to cross-reference the docs. I think things are correct the way they are

[2022-05-18 19:49] #305 closed

[2022-05-18 22:24] nalane commented on #256
I work at MLabs, and we would love to use Oura for our projects, but this is actually a major issue that's preventing us from committing to it wholesale. I would love to contribute to solving this problem if we could identify a good way to go about it, either here or in Pallas

[2022-05-18 22:53] nalane commented on #256
I do, personally

[2022-05-22 19:47] Ch1n3du commented on #301
I would like to take on this issue. What part of the repo contains the associated module?

[2022-05-23 12:28] scarmuega commented on #301
looks great!

[2022-05-23 12:48] Ch1n3du commented on #301
I'm not sure on the specifics of all the different parameters just got them from the definition of the ChainWellKnowninfo struct in the utils module

[2022-05-23 15:04] scarmuega commented on #304
thanks for reporting!

I can't reproduce with that particular hash, I get a valid rollback event when pointing Oura using the `watch` command:

[code]

but there is one scenario where the rollback returns empty data: when requesting a sync from genesis (aka: no intersect points).

In this case, the chainsync miniprotocol returns a rollback event with a CBOR point structure that represents "origin"

[2022-05-26 10:05] CyberCyclone commented on #256
I'm currently using N2N as it's easier to maintain. My current implementation is using NodeJS to control Oura and pass to the DB cluster. I'm in the process of implementing a "rapid" sync by running a dozen Oura instances and connect to 10+ cardano-node servers to then populate the DB from different block points. So for me N2N is the best way to do this.

[2022-05-28 11:35] SebastienGllmt opened #307 "Incorrect tx hash for transaction in block 88ad494a7f0fd9faf4dbaecbafb84f2a02c9d1cb2c1677d57db0acbfdb4cd172"
Expected tx hash: `86002c31759d2bea736791c8010f2d7e67fc7dd6032e9f96361c78578b2eabbe`
Tx hash that I got: `ada6a46050adb381a17e3421538106f0da3550c103d3e506f62a90e53226746c`

This is on testnet

[2022-05-28 12:58] rvcas commented on #307
This could actually be an issue with pallas but we'll need to look into that.

[2022-05-28 20:04] SebastienGllmt commented on #307
Yeah last time this happened it was due to some item inside the block using a different representation of integers than what Pallas expected. We're aiming to be done with the cddl-codgen code that handles all the different integer representations in early June and we'll use that to try and fix this issue in CML

[2022-06-02 12:31] PegasusPool opened #309 ""failed to fill whole buffer" when starting daemon"
I'm trying to setup Oura with Kafka and I got stuck.
Oura version: 1.4.1
Here's my toml file:

[code]

Startup using `oura daemon`

Error message:
[code]

Things work fine if I change the sink to Terminal or Stdout, it seems to be a problem with kafka. I also tried removing the filters and some source settings, but no luck.

My Kafka cluster is live and the topic is created.

When running with `RU

[2022-06-02 12:59] scarmuega commented on #309
Thanks for reporting @PegasusPool. We'll try to reproduce with this exact config and get back to you.

Can you confirm that your Kafka broker is reachable at the configure location? Are you running from inside a docker container?

One possibility is that the unexpected EOF could be an issue reading from the TCP socket that connects to the broker.

From the logs I can confirm that the pipeline segm

[2022-06-02 13:07] PegasusPool commented on #309
Thanks for the quick response @scarmuega .
I checked the connection using kafkacat and I got this:
[code]
It seems like the issue is on the kafka config side. I'm quite new to Kafka to be honest, not sure what I missed when I setup the cluster and the topic.

I'm not running from inside a docker container.

I wanted to post this also in case this helps:

[code]

[2022-06-02 13:27] scarmuega commented on #309
I would revisit the topic creation procedure. It usually goes something like this:

[code]

I also recommend checking out https://redpanda.com/, it's a one-binary, self-contained, zookeeper-free tool that is kafka-compatible. From my experience, it's easier to setup and manage.

[2022-06-03 19:09] PegasusPool commented on #309
Thanks for the suggestions @scarmuega

I downloaded a sample code for a client and I configured it to produce messages for my cluster and topic and it worked. The messages arrived fine in the cluster which is suggesting me that Oura should also be able to send messages.

Does this bit look all right to you?
[code]

[2022-06-04 21:00] scarmuega commented on #307
FYI, we've made progress. With the latest Pallas updates, I manage to compile a version of Oura that outputs the correct hash:

[code]

After publishing the new version of Pallas and running the e2e test on Oura, we'll release the fix as v1.4.2.

[2022-06-05 09:09] PegasusPool commented on #309
Interestingly if I create a local kafka server Oura is able to send messages to that just fine. :thinking:

[2022-06-05 21:10] scarmuega commented on #307
fixed on recently released v1.4.2

[2022-06-05 21:10] #307 closed

[2022-06-07 22:25] pedromtcosta opened #319 "How can I make Oura use the configs from `daemon.toml`?"
How can I make the `dump` command (e.g.: `oura dump relays-new.cardano-mainnet.iohk.io:3001 --bearer tcp --since 63064696,1d9c6ddfe10bb15081f30bd26d26560b6d3d2a7d3eff8174e5f255b81424af36`) "see" the configurations I set in the `daemon.toml` file? In the [Mapper Options](https://txpipe.github.io/oura/advanced/mapper_options.html) page it only mentions the options themselves, but not where the `daem

[2022-06-07 22:59] rvcas commented on #319
@pedromtcosta there should be a flag `--config` which then takes a path to the daemon.toml file. If it's missing from that subcommand specifically, we should be able to add it.

[2022-06-08 01:01] pedromtcosta commented on #319
I think `dump` is missing the `--config` flag indeed. I get this error when trying: `oura dump relays-new.cardano-mainnet.iohk.io:3001 --bearer tcp --since 63064696,1d9c6ddfe10bb15081f30bd26d26560b6d3d2a7d3eff8174e5f255b81424af36 --config /Users/me/_source/github/txpipe/oura/daemon.toml`

[code]

[2022-06-08 01:38] scarmuega commented on #319
hi @pedromtcosta. The `daemon.toml` file is meant to be used with the `oura daemon` command. The `daemon` command allows you to do anything that the other commands provide.

The `dump` and `watch` commands are just shortcuts to hardcoded pipeline configurations to avoid writing the same daemon.toml file for common use-cases.

In fact, trying to incorporate a custom config file into the `watch` / `

[2022-06-08 11:58] rvcas commented on #319
@scarmuega good point, adding a config flag to dump or watch would  indeed cause conflicts. I hadn't thought of that.

[2022-06-08 13:05] pedromtcosta commented on #319
Thanks, @scarmuega! That's indeed what I need. May I ask what is the difference between the `--since` flag from `dump` and the `--cursor` flag from `daemon`? The only issue I have with the solution is that I can't use the `--since` flag anymore, but it seems the `--cursor` flag does the same thing, is this correct?

[2022-06-08 15:31] scarmuega commented on #319
@pedromtcosta the `since` flag is equivalent to the `[source.intersect]` section, it allows you to define from which point in the chain you intend to crawl. You can find more info here: https://txpipe.github.io/oura/advanced/intersect_options.html

The `cursor` flag is meant to be a workaround to deal with restarts of the process. When running Oura for long periods of time, it is probable that an

[2022-06-08 15:39] pedromtcosta commented on #319
@scarmuega I understood `--since` is equivalent to `[source.intersect]`, but my problem with using `[source.intersect]` in this case is that I'd need to create several `daemon.toml` files (I am spawning multiple `oura` processes in parallel). Effectively, what's the difference in the output when using `[source.intersect]` as opposed to `--cursor`? It seems to me that both do the same thing

[2022-06-08 15:55] rvcas commented on #319
@pedromtcosta intersect is for initial start in which case a cursor file doesn't exist yet. If you want a cursor, it'll make one for you and use it to track progress. Otherwise on restart oura would start from the intersect once again instead of the cursor.

intersect -> on start
cursor -> on restart

On restart, if cursor exists override intersect as the starting point.

[2022-06-08 16:13] PegasusPool commented on #309
I ended up just using a local kafka server, so I'll close this issue for now. Thanks for looking into this anyway

[2022-06-08 16:13] #309 closed

[2022-06-08 16:18] PegasusPool opened #323 "Rewards record"
I was looking at the different types of records emitted by the source in [model.rs](https://github.com/txpipe/oura/blob/main/src/model.rs) and I was wondering if there is an event for when an account receives delegation reward after every epoch.

I can see that there is a `MoveInstantaneousRewardsCert` event but as far as I can tell this is only reward paid for catalyst voting as well as payout to

[2022-06-08 16:29] rvcas opened #324 "new filter: address_equals"
check that an address matches a `TxOutput`: https://github.com/txpipe/oura/blob/main/src/model.rs#L122

this will be similar to the existing `policy_equals` in the selection filter

https://github.com/txpipe/oura/discussions/322

[2022-06-09 22:58] pedromtcosta commented on #319
Closing this as the answers solved my problem. Thank you @rvcas and @scarmuega!

[2022-06-09 22:58] #319 closed

[2022-06-20 20:29] scarmuega commented on #256
FYI, almost done with this features, working draft in #332.

N2N done, still working on N2C.

[2022-06-20 23:35] #304 closed

[2022-06-21 00:24] #256 closed

[2022-06-21 15:16] gitmachtl opened #334 "Make FlexWidth adjustable via config"
Hi,

i always recompile oura to get rid of the line cropping on the terminal sick, because i need the whole output to process it further. So i always end up editing this line

https://github.com/txpipe/oura/blob/0f4c188601541c03aba7b25dfecd8bd81d6da0ed/src/sinks/terminal/format.rs#L347

to like:
`let flex_width = 50000;`

so would it be possible to make the cut off value configurable via the daemo

[2022-06-25 12:11] scarmuega commented on #334
hi @gitmachtl, yes, that's a good idea, we can add both a cli flag and a config option.

just curious, would you mind describing what type of further processing you need on the terminal output?

I'm guessing you're already familiar with the `dump` command which just outputs raw json without any kind of formatting.

[2022-06-26 20:01] bakon11 opened #342 "label 721"
Just wondering if this config is still valid to capture metadata of all NFTs with the label 721?

Thank you.

[code]

[2022-06-26 20:34] #342 closed

[2022-06-26 20:45] bakon11 opened #343 "MongoDB"
I currently have Oura setup to create .json files for me and my filter is, all metadata with label 721.

I then take the JSON files and dump them into mongoDB. Everything seems to be working fine, but not always when I search for a PolicyID mongoDB returns a result, however I do know it does exist.

I was wondering if anyone who is using mongoDB to create a search able index would be willing to sh

[2022-06-26 21:46] scarmuega commented on #343
hi @bakon11 do you have an example of one of those policies? I have a similar setup using the Elasticsearch sink, I can see if for some reason we're missing the same data.

[2022-06-27 12:40] gitmachtl commented on #334
hi, i am processing the pure terminaloutput (colors removed) in some of my realtime scripts. and the processing with pure bash functions is way faster than doing it on a json format. so i am pretty happy with the terminal output itself, its just the autolinetrim that i always remove to get the full line each time.

[2022-06-28 21:13] pedromtcosta opened #344 "Is it possible to "match" a plutus_datum event to a specific output from a transaction?"
Looking at the [tx_out schema from db-sync](https://github.com/input-output-hk/cardano-db-sync/blob/master/doc/schema.md#tx_out) I see that it has the `data_hash` column, meaning this data is related to a specific output in the transaction. I would like to be able to make this same association between a datum and an output using Oura, but at the `plutus_datum`'s event context I can only retrieve i

[2022-06-28 23:26] pedromtcosta commented on #344
I solved this by getting the output's data_hash directly from the block's CBOR

[2022-06-28 23:26] #344 closed

[2022-06-29 16:49] bakon11 commented on #343
So actually I just realized that the query I am using in mongosh does not work the same way using in nodejs when searching an object by KEY.

[2022-06-29 17:50] crypto-titan commented on #323
+1

[2022-07-01 00:47] #343 closed

[2022-07-01 01:32] papacarp opened #345 "Add reward withdrawals to transaction data"
Withdrawals are not currently in transaction detail from oura.  This makes it difficult to decode reward withdrawal transactions.  The detail is in pallas

https://github.com/txpipe/pallas/blob/98f71289b5d2b533eff2f64098d0cf973386236d/pallas-primitives/src/babbage/model.rs#L246

I gave it a shot and got the withdrawals into the transaction model:
[code]
But got very stuck on how to implement   `to

[2022-07-01 02:18] Pacman99 opened #346 "Add json/yaml support for configuration"
I'm writing an entrypoint for oura over here, https://github.com/input-output-hk/cardano-world/pull/5, and currently I have to script the conversion from json to toml. Is there any chance oura can natively support json files for configuration?

[2022-07-01 18:33] SebastienGllmt opened #348 "Crash on n2c for Cardano Testnet: chainsync loop failed BytesIndef"
block e1ef53d961b282f380544071136b17992d63859d1ba92e02f25884161886c1f1
slot 58613322

[code]

Oura version: 1.4.3
Pallas version: 0.10.0
cardano-node version: 1.34.1

[2022-07-02 09:47] scarmuega commented on #348
Fixed on https://github.com/txpipe/pallas/pull/143 and released as `pallas-primitives=0.10.1`.

The issue was that the bytes variant of the plutus data struct accepts indef bytes (indef array of bytes) and the codec in Pallas wasn't supporting it.

Since it's a patch, downstream project should bump `pallas-primitives` to v0.10.1 by running `cargo update -p pallas`, change will only be reflected on

[2022-07-02 09:47] #348 closed

[2022-07-03 15:43] papacarp opened #354 "Cursor use - skipping blocks on restart"
There seems to be some logic mismatch on the cursor use after a restart.  Here is the failing scenario:

1. daemon mode with webhook processing of events
2. file based cursor usage
3. webhook responds with 404 starting on  block 7451768 after processing block 7451767 successfully.  daemon continues to retry sending block 7451768.
4. cursor is set to block 7451768.
5. daemon is shut down and restar

[2022-07-05 09:15] miguelaeh opened #356 "Getting `null` information when a block contains a transaction"
I connected Oura to a custom network using Kafka as the sink. Apparently, it works fine and sends to the Kafka topic the block events. Nevertheless, when there is a new transaction in a block, the block data is null.
This is an example of what appears reading the Kafka topic:
[code]

As you can see, there is information for blocks` 657133` and `657135`, while there is a transaction included in blo

[2022-07-05 22:26] bakon11 opened #357 "compression parameter under sink not working."
In my sinks settings I have compression set to false. But yet Oura after the third file it creates starts compressing to .gz, of course it's not a show stopper just an observation.

Oura version 1.5.0

Thank you.

[code]

[2022-07-05 23:37] rvcas commented on #357
thanks for reporting I think I see the issue

[2022-07-05 23:46] rvcas commented on #357
@bakon11 that should sort things out and you'll want to use `compress_files` instead of `compression`

[2022-07-06 00:28] bakon11 commented on #357
That sounds awesome, thank you so much for making this happen so fast.

[2022-07-06 11:22] #346 closed

[2022-07-06 11:24] #357 closed

[2022-07-06 19:34] scarmuega opened #359 "Support CIP-14, add bech32 asset fingerprints to event model"
### Discussed in https://github.com/txpipe/oura/discussions/330

<div type='discussions-op-text'>

<sup>Originally posted by **CyberCyclone** June 14, 2022</sup>
I'm just wondering if there was a design decision to not add support for CIP-14? It would be useful to be able to link the CIP25Asset type to OutputAsset and to also align with other services that use asset fingerprints.

https://cips.car

[2022-07-06 19:44] scarmuega opened #360 "Support node fallbacks in N2N connections"
Discussed in https://github.com/txpipe/oura/discussions/247

We need to expand the concept of "address" in N2N source stage so that it provides a list of candidate nodes (as opposed to a single address). By default, Oura will attempt to connect to the 1st in the list. If an IO failure occurs, it will continue through the list of candidates using a round-robin approach.

[2022-07-12 17:10] scarmuega commented on #356
hi @miguelaeh. My 1st guess is that there's some issue when mapping Tx data into events, probably related to the fact that this is a custom network. Would you please try the following:

- run the process using the env `RUST_LOG=debug`, it will probably show interesting info to help us debug.
- confirm that the `[chain]` section of your config file has valid data for the required fields [more info

[2022-07-12 18:08] scarmuega commented on #354
yes, confirmed, this needs fixing. The assumption mismatch is the following:

- sinks notify current chain point before confirming the success of the action, assuming that a restart would include the specified block.
- when the source stage submits the cursor as the intersect point, the first message received by the chain-sync miniprotocol is a "rollback" to that point, which doesn't include the b

[2022-07-14 17:04] miguelaeh commented on #356
I added the debug variable, in the block number `737056` there is a transaction, in the log (fully pasted below from block `737055` to the next one added to Kafka) the following warning appears:

[code]

It is curious that, after that block, the position jumps directly to the tip, without continuing syncing the rest of the blocks. In the log, you can see that after block `737055`, the next block a

[2022-07-21 23:04] scarmuega commented on #301
I've added some field descriptions and published it here:
https://txpipe.github.io/oura/advanced/custom_network.html

Thanks @Ch1n3du, closing the issue.

[2022-07-21 23:04] #301 closed

[2022-07-21 23:19] scarmuega commented on #256
@CyberCyclone @nalane the automatic retry is available since v1.5. Both N2N and N2C will attempt to reconnect (and handshake) if the bearer closes abruptly. The retry uses an exponential backoff delay (1s, 2s, 4s, etc).

There are two new config values that control the logic:

`chainsync_max_retries`: defines the amount of retry attempts before exiting the pipeline. Defaults to 50.
`chainsync_max_

[2022-07-21 23:55] Ch1n3du commented on #301
No problem, had fun doing it..

On Fri, Jul 22, 2022 at 12:04 AM Santiago Carmuega ***@***.***>
wrote:

[2022-07-22 11:07] scarmuega commented on #356
This is tough one. Not being able to reproduce makes it hard for finding the root cause. Judging by the error, I'm pretty confident that the problem is the CBOR decoding of the `Value` structure. This is the relevant snippet in Pallas:

[code]

To reach the error, the CBOR value should have been encoded with a data type different than U32, U64 or CBOR Array. I haven't seen this in any mainnet / te

[2022-07-23 13:26] #345 closed

[2022-07-23 13:59] rvcas opened #368 "Remove reward account "e1" prefix"
For me detail see this comment

Thank you @papacarp

https://github.com/txpipe/oura/pull/349#issuecomment-1173309071

[2022-07-28 09:27] miguelaeh commented on #356
Hi @scarmuega ,

Sorry for the late response.
I don't think the CBOR encoder is different here. The difference between this network and Cardano mainnet is just the network magic (and some protocol parameters). I configured the `magic` parameter on the config file as:

[code]

This is one of the failing Tx's CBOR:
[code]

I can also share how I am testing this. Since the Kafka connection works fine

[2022-07-30 10:28] PaulMatencio opened #370 "The lastest oura 1.5.1 is crashing"
oura daemon --config   selection.toml  --cursor 66137366,19e2b9f3943874d021d420e65841d6ba12db2b533ea46e5efcf6254e910d8717
thread '<unnamed>' panicked at 'called `Result::unwrap()` on an `Err` value: Error("can only flatten structs and maps (got an enum)", line: 0, column: 0)', src/sinks/logs/run.rs:16:19
stack backtrace:
   0:     0x559f499b34ad - <unknown>
   1:     0x559f499da56c - core::fmt::wr

[2022-07-30 20:24] PaulMatencio commented on #370
The problem is solved after upgrading cardano-node to 1.35.0

[2022-07-30 20:24] #370 closed

[2022-08-01 15:27] pedromtcosta opened #371 "Error when running oura dump since slot 66137366"
I am running into an error when running `oura dump` from slot `66137366`, block `19e2b9f3943874d021d420e65841d6ba12db2b533ea46e5efcf6254e910d8717`. I am running Oura `1.5.1`:
[code]

And this is the command and the error I am getting:

[code]

In fact, I get this error when trying to start Oura from any slot after `66137366` as well, for example, running any of the bellow commands results in the s

[2022-08-02 00:51] scarmuega commented on #371
Thanks for reporting @pedromtcosta!

It turns out that this is the 1st time we encounter an event of type `GenesisKeyDelegation`. There's a bug in Oura which breaks the json serialization of these type of events.

I'll work on a hotfix ASAP, but in the meantime, a workaround would be to skip these type of events by using the [Selection](https://txpipe.github.io/oura/filters/selection.html) filter.

[2022-08-02 17:52] mesudip opened #374 "[Elasticsearch Sink, cip25-assets] Error on restarting oura"
I am tring to index cip25 assets using aura to elasticsearch  v8.3.3. Container was once restarted and now
container stops everytime with `Document Already Exists` error.

In case of elasticsearch sink It would be nice to ignore error if message is "Document already exists".

**Container log**
[code]

[2022-08-02 20:18] pedromtcosta commented on #371
Thank you @scarmuega ! I just tested 1.5.2 and it works now 👍

[2022-08-02 20:18] #371 closed

[2022-08-11 14:35] #368 closed

[2022-08-14 09:45] CyberCyclone commented on #192
@scarmuega just checking in to see if there's been any further thoughts on this?

My thoughts are that I'm wondering if we're able to extract the data required that can then be used to run the calculations at the end of the epoch. It would require going through each block from the start of the epoch to the end, and then an external service can run the calculations.

Not sure if that's the best way

[2022-08-14 10:31] CyberCyclone opened #381 "Support Preview and Pre-Production Testnet"
I'm in the process of setting up the preview and pre-production services (https://book.world.dev.cardano.org/environments.html#pre-production-testnet) and I'm hitting the below error:

`ERROR: "can't infer well-known chain infro from specified magic"`

Based on the config files in the link above, I have `magic = "1"` and `magic = "2"` set in the Oura config. Reading here: https://github.com/txpipe

[2022-08-15 18:46] everestada opened #382 "Allow oura to ignore self signed ssl certs"
When using webhook sink self signed ssl certs results in an error an option to remove this check would be useful when a full ssl is not required.

[2022-08-16 12:38] scarmuega opened #384 "Add `preprod` and `preview` as well-known networks"
When starting Oura, we can use the `--magic testnet` and `--magic mainnet` values as shortcuts for well-known network configurations.

We need to add the new "pre-production" and "preview" networks in the same fashion. Settings for these networks are specified here: https://book.world.dev.cardano.org/environments.html

[2022-08-16 12:41] scarmuega commented on #381
hi @CyberCyclone, sorry for the delay.

Inferring the correct values for the `[chain]` section is not very straightforward, there's some dark magic involved in the process. Hopefully, we can improve this for Oura v2.

In the meantime, here's an example config for connecting Oura to "pre-prod" network:

[code]

Since these new network are here to stay, I've added #384 to make them available as well

[2022-08-16 13:50] scarmuega commented on #381
here's the a config that works for the `preview` network:

[code]

[2022-08-16 21:03] CyberCyclone commented on #381
Awesome, thanks for that! Much appreciated!

[2022-08-16 21:03] #381 closed

[2022-08-20 11:13] #384 closed

[2022-08-20 12:00] #382 closed

[2022-08-20 16:50] #374 closed

[2022-08-27 21:28] #324 closed

[2022-08-29 13:59] 4TT1L4 opened #401 "Logging: N2N error logged in N2C"
The N2C error  at line 234 logs wrong error message with N2N:

https://github.com/txpipe/oura/blob/main/src/sources/n2c/run.rs#L234

The logs messages in N2C should not refer incorrectly to N2N.

[2022-08-30 17:30] 4TT1L4 opened #404 "Logging: Typo in try_from_magic"
**Problem:**

 - The error message has a typo in the [try_from_magic ](https://github.com/txpipe/oura/blob/4de19ee7f50c7d64637e8d5f245ec3b34e41cecc/src/utils/mod.rs#L163)function in the Pipeline-wide utilities (mod.rs).
 - The rustdoc of the method is also out-dated.

The following error is logged, when the chain could not be identified based on the provided magic value:
`ERROR: "can't infer well-

[2022-09-05 11:30] #404 closed

[2022-09-05 11:36] #401 closed

[2022-09-05 14:34] omefire opened #407 "Oura v1.6.0 not yet published on crates.io"
This is making it impossible to sync with preview nodes from downstream tools (e.g: carp).
Is there an given/approximate timeline when it will be uploaded?

Thanks for your effort!

[2022-09-05 16:49] scarmuega commented on #407
@omefire thanks for the heads-up. It has been published a few mins ago.

[2022-09-05 16:49] #407 closed

[2022-09-13 10:32] ehanoc opened #427 "Stopped Compiling"
Just updated my branch to `main`

And am getting the following

[code]

[2022-09-14 09:08] pedromtcosta opened #432 "Byron address displayed as bech32 instead of base58"
The transaction [a39d10dba7022fdbc4e324ef6234100308bd83e3470dea9d732519406bef268a](https://cardanoscan.io/transaction/a39d10dba7022fdbc4e324ef6234100308bd83e3470dea9d732519406bef268a) generates an output to the Byron address **Ae2tdPwUPEZAYZFzwHiWsMVR1i9Y9BusUNVN3EnqXJfa9FAEYkxJyTYnMn3**. Oura outputs it as a bech32 (**addr1stvpskppsdvpezdwv8wlnfqk4v60u7shmkurqls4v7plnqxss8gqeqw4tksqqx4jkr4tcrhewe

[2022-09-20 12:51] pyromaniac3010 opened #435 "timestamp in preprod with elasticsearch sink wrong"
Hi,
we have a local oura v1.7.1 with elastic sink running on **PREPROD** using this daemon.toml:
[code]
This filters out all NFTs from preprod and stores it into elasticsearch.

The timestamp in Elasticsearch is not correct:
https://testnet.cardanoscan.io/transaction/0fabb1543b54f8104fbee6dad0879100776339a0cfe50cfe8d67bb14be0b35bb has it correct with Timestamp 09/20/2022 2:35:34 PM
But in Elastics

[2022-09-21 09:44] scarmuega commented on #435
hi @pyromaniac3010, thanks for reporting. Wall-clock values are not present in block data, so Oura requires a set of well-known values for each network (such as slot length, system start, etc) to compute the timestamps. It is possible that there's a bug in the values that ship for preprod network. We'll double check.

[2022-09-21 09:46] scarmuega commented on #432
hi @pedromtcosta, thanks for reporting. Your report is correct, this is a bug. We'll work on a fix.

[2022-09-21 14:20] 4TT1L4 opened #437 "Support for structured logging (JSON)"
**Problem:**
 - At the moment only the standard env_logger based logging is supported. In some scenarios it would be beneficial, if Oura would support structured logging as well, in an easy to parse JSON format.

For a more detailed description about the structured logging format, please see the Google Cloud Documentation:
 - [Google Cloud Guides - Structured logging](https://cloud.google.com/logg

[2022-09-21 14:48] 4TT1L4 commented on #437
I have created a PR with the proposed changes:
 - https://github.com/txpipe/oura/pull/438

[2022-09-25 22:05] scarmuega commented on #427
Hi @ehanoc, the current "Minimum Supported Rust Version" (MSRV) for Oura is `1.58.1`. Are you compiling with something older than that?

[2022-09-29 23:40] junderw opened #443 "[Bug] Always receive Block Rollback event on first connect when using Fallbacks or Point intersect"
Related to #193 (Note: I have verified that this behavior is not unique to block 1, but happens at any block.)

Connecting to mainnet, I have created an application that uses oura as a library, and stores index of blocks and transactions locally in a database.

On first boot, it tries to use IntersectArgs::Fallbacks to sync (we had some bugs trying to just use the latest block in the DB as a Point

[2022-09-29 23:51] junderw commented on #443
Sorry for the initial blank Issue. I am done editing the issue body and title now.

[2022-09-30 03:40] junderw commented on #443
It sounds like the log `rolling backward to point:` is erroneous.

If the intersect is there, why do we roll back? Is this an issue with `pallas_miniprotocols` or `cardano_node` itself?

Is the meaning of the `RollbackBlock(slot, hash)` message "go back to this block as your tip"?
[code]

[2022-09-30 03:49] junderw commented on #443
I think this issue can be closed as a misunderstanding.

Can I get a confirmation before closing?

1. EventData::RollBack message instructs us to roll back any blocks AFTER BUT NOT INCLUDING the contained slot,hash.
2. The block with the slot,hash contained in EventData::RollBack is now considered the "new valid tip".
3. Upon first connection when intersect is found, cardano_node will always send

[2022-09-30 03:49] #443 closed

[2022-09-30 07:06] junderw commented on #193
Using intersect (or since) I don't think it's possible to get the 1st block sent to you.

It seems like the Intersect method finds the point where you both meet, sends a Rollback message with the slot and hash of the point that you both agree is valid, and then it starts sending you block messages for the next block after that.

I think the only way to get the first block is to use the default `Ti

[2022-09-30 07:08] junderw commented on #193
The name `Rollback` makes it sound like the slot-hash contained should be reverted... but it actually means "roll back until you get to this point, but don't rollback the block itself."

[2022-10-11 11:54] sumerion opened #451 "Add property options for kafka sink"
Hi,

Could it be possible to add property options for the kafka sink? In my use case, I'd like to send data to a confluent cloud cluster.
For that, I need to add these properties:
[code]
I tried to add it myself, but I couldn't find how to do it in the current kafka library. My research led me to the https://github.com/fede1024/rust-rdkafka library, which is asynchronous and leads to more code cha

[2022-10-12 13:28] pyromaniac3010 opened #454 "add capped streams support to redis stream sink"
It would be really nice to support the capped streams aka "MAXLEN ~ <STREAMENTRYS>" function of https://redis.io/commands/xadd/ via a new config option to automatically evict old streams.
I suggest something like "stream_maxitems" as config option:
[code]

This would prevent users to explicitly call XTRIM (https://redis.io/commands/xtrim/) from a separate process regularly to prevent redis memory

[2022-10-26 16:44] georgeos opened #464 "CIP25Metadata only generates event for last NFT in the transaction"
Hi! I couldn't find if there is a configuration related to it, please let me know if I need to double check :smile:

**Problem:**
When multiple NFTs are minted in the same transaction, a CIP25Metadata Event is generated only for the last NFT in the metadata.

**Setup:**
- Docker image: ghcr.io/txpipe/oura
- Sink: Webhook for testing purposes

**Steps to reproduce:**
- Starting from point: `value =

[2022-11-29 18:10] scarmuega commented on #323
hi @PegasusPool. The existing event describes the scenario of moving rewards from reserves / treasury to some address. More info here: https://cardano.stackexchange.com/a/9247/4495

Regarding unclaimed reward calculation, that's a tough one. AFAIK, one needs to compute them by doing some heavy calculations on a per-epoch, per-pool fashion. DB-Sync has this logic embedded. I believe it is out-of-sc